{{ $lqip := false }}
{{ $color := false }}

{{ if eq .placeholder "dominant" }}
  {{ $img := .ctx.Resources.GetMatch .src }}
  {{ $color = $img.Color }}
{{else if (eq .placeholder "lqip") }}
  {{ $img := .ctx.Resources.GetMatch .src }}
  {{ $lqip = $img.Resize (printf "%vx gif" site.Params.bg_images.placeholder.width) }}
  {{ $lqip = $lqip.Filter (images.GaussianBlur site.Params.bg_images.placeholder.blur_amount) }}
  {{ $lqip = $lqip.RelPermalink }}
{{ else }}
  {{ $color = .placeholder }}
{{ end }}

{{ return (dict "lqip" $lqip "color" $color) }}
