{{/*
  bg-images/private/validate-variables.html 
  Validates user inputs and returns error messages

  @author @sean-au

  @context (dict)
    "src" (string) // page resource relative url
    "selector" (string) // css selector
    "widths" (array of ints) // array of resize widths
    "lazy" (bool) // lazy load setting
    )

  @access private

  @example - Go Template
    {{ partial "bg-images/private/validate-variables" (merge . (dict "ctx" $ctx)) }}

*/}}
{{ $error_ctx := dict "page" .ctx "img" (.ctx.Resources.GetMatch .src)}}

{{ with .src }}
  {{/* FIX THIS SECTION NOT WORKING */}}
  {{ if not ($.ctx.Resources.GetMatch $.src) }}
    {{ $message := printf "Invalid src value of \"%v\" on page %s. You must provide a relative path to a page image resource." .src $.ctx.RelPermalink }}
    {{ $error := partial "bg-images/private/utils/errorf" $message }}
  {{ end }}
{{ else }}
  {{ $message := printf "src missing for bg-image element on page %s. You must provide a relative path to a page image resource as the src value." $.ctx.RelPermalink }}
  {{ $error := partial "bg-images/private/utils/errorf" $message }}
{{ end }}

{{ with .selector }}

{{ else }}

{{ end }}

{{ with .widths }}
  {{ if reflect.IsSlice . }}
    {{ range . }}
      {{ if ne (printf "%T" .) "int" }}
        {{ partial "bg-images/private/utils/options-error" (dict 
          "var" "widths array item"
          "val" .
          "opts" "array/slice of integers"
          "ctx" $error_ctx
        ) }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ partial "bg-images/private/utils/options-error" (dict 
    "var" "widths array/slice"
    "val" .
    "opts" "integers in an array/slice"
    "ctx" $error_ctx
  ) }}
  {{ end }}
{{ end }}

{{ with .lazy }}
  {{ if ne . true }}
    {{ partial "bg-images/private/utils/options-error" (dict 
    "var" "lazy boolean"
    "val" .
    "opts" "true or false"
    "ctx" $error_ctx
  ) }}
  {{ end }}
{{ end }}
