

{{/* check for page params, and merge */}}
{{ $page_config := "bg-images/private/params/collect" .Params.bg_images }}


{{/* partial "bg-images/private/params/sanitize-inputs" $img_params */}}
{{/* collect params from different places and merge */}}
{{ $lqip := dict
  "blur" ($img_params.lqip.blur | default $config.blur) 
  "div" ($img_params.lqip.div | default $config.div)
  "quality" ($img_params.lqip.quality | default $config.quality) }}
{{ $placeholder := $img_params.placeholder | default $config.placeholder }}
{{ $img_params = merge $img_params (dict 
  "lqip" $lqip
  "placeholder" $placeholder) }}

{{/* modify params post sanitization */}}
{{ $widths := $img_params.widths | default $config.widths }}
{{ $widths = sort $widths }}
{{ $sanitized_widths := partial "img-common/private/utils/restrict-widths" (dict 
  "ctx" $ctx
  "img" ($ctx.Resources.Get $img_params.src)
  "widths" $widths
  "ratio" false
  "difference" $config.difference
  "suppress" $config.suppress ) }}

{{/*  if slice widths: [500,600] change to
      widths:
      - width: 500
        resized: [map] */}}
{{ $widths_dict := slice }}
{{ range $sanitized_widths }}
  {{ $widths_dict = $widths_dict | append (dict "width" .) }}
{{ end }}
{{ $widths_resized := slice }}
{{ range $width := $widths_dict }}
  {{ $resized := partial "bg-images/private/gen/images" (dict "image" $img_params "width" $width.width) }}
  {{ $width = merge $width (dict "resized" $resized) }}
  {{ $widths_resized = $widths_resized | append $width }}
{{ end }}



