{{ range $bg_image := .Params.bg_images}}
  {{ $images := slice }}
  {{ $widths := .widths | default site.Params.bg_images.widths }}
  {{ range $index, $width := $widths }}
    {{ $img := $.Resources.GetMatch .src }}
    {{ $resized := $img.Resize (printf "%vx" . ) }}
    {{ $images := $images | append $resized }}

    {{ if eq $index 0 }}
    @media (max-width: {{ $width }}px) {
      #{{ $bg_image.id }} {
        background-image: url({{$resized.RelPermalink}});
      }
    }
    {{ else if (eq (add $i 1) (len $.Params.bg-images)) }}
    @media (min-width: {{ index $widths (sub $index 1) | add 1 }}px) {
      #{{ $bg_image.id }} {
        background-image: url({{$resized.RelPermalink}});
      }
    }
    {{ else }}
    @media (min-width: {{ index $widths (sub $index 1) | add 1 }}px) and (max-width: {{ $width }}px) {
      #{{ $bg_image.id }} {
        background-image: url({{$resized.RelPermalink}});
      }
    }
    {{ end }}
  {{ end }}

{{ end }}







{{/*  


  640 (max 640), 1280 (641-1280), 2000 (min 1281)
  body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
  }

  @media (max-width: 640px) {
    body {
      background-image: url(images/bg-small.jpg);
    }
  }

  @media (min-width: 640px) and (max-width: 1280px) {
    body {
      background-image: url(images/bg-medium.jpg);
    }
  }

  @media (min-width: 1281px) {
    body {
      background-image: url(images/background-large.jpg);
    }
  }
  
.box {
  background: skyblue;
  background-image: url("small-landscape-750x536.jpg");
  background-image: -webkit-image-set(
    url("small-landscape-750x536.jpg") 1x,
    url("large-landscape-2048x1536.jpg") 2x);
  background-image: image-set(
    url("small-landscape-750x536.jpg") 1x,
    url("large-landscape-2048x1536.jpg") 2x);
  background-image: image-set(
    url("small-landscape-750x536.jpg") 750w,
    url("large-landscape-2048x1536.jpg") 20480w);
}


head of site

bg-images:
- src: image.jpg 
  id: hero
  widths: 500 900 1200

{{ partial "bg-images\head" . }}

element on page

{{ partial "bg-image" (dict "image" 0 "page" . ) }}

  */}}
