{{ $images := slice }}
{{ $selectors := slice }}
{{ $eager_selectors := slice }}

{{ $site_params := partial "bg-images/private/params/sanitize/index" (merge site.Params.bg_images (dict "level" "site")) }}
{{ $params := $site_params}}

{{/* range over pages with bg_images */}}
{{ range where site.Pages "Params.bg_images" "!=" nil }}
  {{ $ctx := . }}
  {{ with .Params.bg_images }}
    {{ $page_params := partial "bg-images/private/params/sanitize/index" (merge . (dict "level" "page" "ctx" $ctx)) }}
    {{ $params = merge $params $page_params }}

    {{ range .images }}
      {{ $image_params := partial "bg-images/private/params/sanitize/index" (merge . (dict "level" "image" "ctx" $ctx)) }}
      {{ $params = merge $params $image_params }}

      {{ $restricted_widths := partial "img-common/private/utils/restrict-widths" (dict 
        "ctx" $ctx
        "img" ($ctx.Resources.Get $params.src)
        "widths" $params.widths
        "fill_ratio" false
        "difference" $params.difference
        "suppress" $params.suppress ) }}
  
      {{ $resized := slice }}
      {{/* widths resized may be more natural when width level params are implemented */}}
      {{ $widths_resized := slice }}
      {{ range $width := $restricted_widths }}
        {{ $img := partial "bg-images/private/gen/images" (merge $params (dict "width" $width)) }}
        {{ $resized = $resized | append $img }}
        {{ $widths_resized = $widths_resized | append (dict "width" $width "resized" $img)}}
      {{ end }}

      {{ $params = merge $params (dict
        "resized" $resized
        "widths_resized" $widths_resized) }}

      {{/* add params for export below */}}
      {{ $images = $images | append $params }}
      {{ $selectors = $selectors | append $params.selector }}
      {{ if ne $params.lazy true }}
        {{ $eager_selectors = $eager_selectors | append $params.selector }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* return variables in dict */}}
{{ return dict 
  "images" $images
  "selectors" $selectors
  "eager_selectors" $eager_selectors }}

{{/* 
  ** print/prefetch uses .images 
  ** print/media-queries uses .images
  ** print/general-css uses .selectors .eager_selectors
  ** removed $params from return dict
  */}}
